@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    overflow: hidden;
}

h2 {
    color: #333;
    font-size: 5em;
    user-select: none;
    text-align: center;
}

i {
    position: absolute;
    background: #fff;
    pointer-events: none;
    border-radius: 50%;
    width: 50px; /* This is the default size */
    height: 50px; /* This is the default size */
}

@keyframes animate {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        transform: translate(var(--randomX), var(--randomY));
    }
}
